---
import Card from "../components/Card.astro";
import HeroV2 from "../components/HeroV2.astro";
import PopCard from "../components/PopCard.astro";
import PopCardList from "../components/PopCardList.astro";
import Button from "../components/shared/button.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <HeroV2 />
  <div class="container">
    <div class="row py-2xl">
      <div class="col-md-7">
        <h2 class="h4 section-title">Ta’lim yangiliklari</h2>
        <div class="row">
          <div class="col-md-6">
            <Card />
          </div>
          <div class="col-md-6">
            <Card />
          </div>
          <div class="col-md-6">
            <Card />
          </div>
          <div class="col-md-6">
            <Card />
          </div>
          <div class="col-md-6">
            <Card />
          </div>
          <div class="col-md-6">
            <Card />
          </div>
          <div class="col-md-6">
            <Card />
          </div>
          <div class="col-md-6">
            <Card />
          </div>
        </div>
        <div class="mt-lg d-flex justify-content-center">
          <Button style="primary">Barcha yangiliklar</Button>
        </div>
      </div>
      <div class="col-md-5">
        <aside class="position-sticky top-lg">
          <h2 class="h4 section-title">Ommabop</h2>
          <PopCardList>
            <PopCard />
            <PopCard />
            <PopCard />
            <PopCard />
          </PopCardList>
        </aside>
      </div>
    </div>
  </div>
</Layout>
