---

---

<div class="blockquote">
  <div class="blockquote__icon">
    <i class="ti ti-quote-filled text-primary"></i>
  </div>
  <div class="blockquote__text">
    <i class="text-lg"
      >Unda O‘zbekiston, Qozog‘iston, Qirg‘iziston va Belarusdan nomzodlar
      ishtirok etishi mumkin.</i
    >
    <b>- Author’s name</b>
  </div>
</div>
