---
import oliygohLogo from "../assets/img/oliygoh-logo.svg";

const { height } = Astro.props;
---

<a href="#!" class="brand-logo">
  <img
    class="header-top-brand__logo d-block"
    src={oliygohLogo.src}
    alt=""
    height={height}
  />
</a>
