---

---

<div class="card card--article">
  <a href="/postview" class="card__image">
    <img
      src="https://static.oliygoh.uz/crop/3/4/346_190_80_3451933706.jpg?t=1730454236"
      alt=""
    />
  </a>
  <div class="card__body">
    <div class="card__content">
      <span class="card__date">Kecha, 15:14</span>
      <h6>
        <a href="/postview">2025-yilda ta’lim sohasiga qancha mablag‘ ajratiladi?</a>
      </h6>
    </div>
  </div>
</div>
