---

---

<div class="exam-meta">
  <slot name="header" />
  <div class="row">
    <div class="col-md-3 col-6">
      <div class="exam-meta-item text-bold text-center">
        <span class="text-on-surface-variant">Ishtirokchilar</span>
        <span class="text-success h4">656365</span>
      </div>
    </div>
    <div class="col-md-3 col-6">
      <div class="exam-meta-item text-bold text-center">
        <span class="text-on-surface-variant">Variantlar soni</span>
        <span class="text-info h4">366</span>
      </div>
    </div>
    <div class="col-md-3 col-6">
      <div class="exam-meta-item text-bold text-center">
        <span class="text-on-surface-variant">O’rtacha natija</span>
        <span class="text-primary h4">30.5%</span>
      </div>
    </div>
    <div class="col-md-3 col-6">
      <div class="exam-meta-item text-bold text-center">
        <span class="text-on-surface-variant">Maksimal natija</span>
        <span class="text-warning h4">100%</span>
      </div>
    </div>
  </div>
  <slot name="footer" />
</div>
