---

---

<div class="hei-card">
  <div class="hei-card__image">
    <img
      src="https://static.oliygoh.uz/crop/3/0/400_210_85_3017761156.jpg?t=1592651088"
      alt=""
      class="w-full"
    />
  </div>
  <div class="hei-card__body">
    <dl class="row">
      <div class="col-md-6 desc-block">
        <dt class="text-on-surface-variant">Elektron pochta:</dt>
        <dt>
          <a href="#!" class="text-primary text-decoration-none"
            >+99871238-64-15</a
          >
        </dt>
      </div>
      <div class="col-md-6 desc-block">
        <dt class="text-on-surface-variant">Elektron pochta:</dt>
        <dt>
          <a href="#!" class="text-primary text-decoration-none">tuit@tuit.uz</a
          >
        </dt>
      </div>
      <div class="col-md-6 desc-block">
        <dt class="text-on-surface-variant">Rasmiy sayt:</dt>
        <dt>
          <a href="#!" class="text-primary text-decoration-none">tuit.uz</a>
        </dt>
      </div>
      <div class="col-md-6 desc-block">
        <dt class="text-on-surface-variant">Telegram:</dt>
        <dt>
          <a href="#!" class="text-primary text-decoration-none"
            >@tuituz_official</a
          >
        </dt>
      </div>
      <div class="col-md-12 desc-block">
        <dt class="text-on-surface-variant">Manzil:</dt>
        <dt>
          Toshkent shahri, Yunusobod tumani, Amir Temur shoh ko‘chasi, 108- uy,
          pochta indeksi: 100202
        </dt>
      </div>
    </dl>
  </div>
</div>
