---

---

<section class="hero-v2 bg-primary text-on-primary">
  <div class="container">
    <div class="hero-v2__block">
      <div class="card">
        <div class="card__image">
          <img
            src="https://static.oliygoh.uz/crop/2/6/346_190_80_2621659639.jpg?t=1730465159"
            alt=""
          />
        </div>
        <div class="card__body">
          <div class="card__meta">
            <a
              href="#!"
              class="meta bg-primary-container text-primary border-primary-container"
              >Abiturient</a
            >
          </div>
          <div class="card__content text-surface">
            <h3 class="h5 text-md-h2">
              Talaba OTMdagi o‘qishini davom ettira olmasa, to‘lagan kontrakt
              puli qaytarib olinadimi?
            </h3>
            <p class="text-lg-lg">
              Agar talaba oliy ta’lim muassasasida (OTM) o‘qishini davom ettira
              olmasa, to‘langan kontrakt pulini qisman qaytarib olish imkoniyati
              mavjud. O‘zbekiston Respublikasi Fuqarolik kodeksining tegishli
              moddalari bu holatni quyidagicha tushuntiradi
            </p>
            <div>Kecha, 15:14</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
