---

---

<div class="icon-card">
  <i class="ti ti-help icon-card__icon"></i>
  <div class="desc-block icon-card__desc">
    <span class="text-on-surface-variant">Savollaringiz bormi?</span>
    <a href="#!" class="text-primary text-decoration-none">Onlayn murojaat</a>
  </div>
</div>
