---

---

<div class="pop-card">
  <div class="pop-card__body">
    <a href="/postview" class="text-on-surface text-decoration-none"
      >Endi kvota OTMga taqsimlanmaydi. bu nima degani?</a
    >
    <div class="pop-card__meta text-sm text-on-surface-variant">
      <span>14-mart 01:07</span>
      <span> <i class="ti ti-eye"></i> 5031</span>
    </div>
  </div>
</div>
