---
import ProfileAvatar from "./ProfileAvatar.astro";
---

<div class="profile-main-block">
  <ProfileAvatar />
  <div class="profile-main-block__body">
    <h5 class="h5">Azamat Sharipov</h5>
    <a href="#!" class="text-primary text-decoration-none">91 357-39-79</a>
  </div>
</div>
