---

---

<div class="profile-total text-center">
  <div class="text-on-surface-variant">NATIJALAR</div>
  <dl class="row gap-0 m-0">
    <div class="col-4">
      <div class="desc-block">
        <span>0</span>
        <span class="text-on-surface-variant">Testlar</span>
      </div>
    </div>
    <div class="col-4">
      <div class="desc-block">
        <span>0%</span>
        <span class="text-on-surface-variant">Haftalik</span>
      </div>
    </div>
    <div class="col-4">
      <div class="desc-block">
        <span>0%</span>
        <span class="text-on-surface-variant">Umumiy</span>
      </div>
    </div>
  </dl>
</div>
