---
const { vertical } = Astro.props;
---

<div class="related-news" class:list={vertical && "related-news--vertical"}>
  <a href="/postview" class="text-sm flex-grow-1 text-on-surface text-decoration-none"
    >Endi kvota OTMga taqsimlanmaydi. bu nima degani?</a
  >
  <span class="text-sm text-on-surface-variant">10-noyabr, 08:03</span>
</div>
