---

---

<div class="share-section">
  <div class="row">
    <div class="col-md-8">
      <div class="d-flex flex-column gap-smd">
        <span>Teglar</span>
        <div class="d-flex flex-wrap gap-sm">
          <a href="#!" class="tag">IT sohasi</a>
          <a href="#!" class="tag">IT park</a>
          <a href="#!" class="tag">dasturchi bo'lish</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="d-flex flex-column gap-smd">
        <span>Ulashing</span>
        <div class="d-flex flex-wrap gap-sm">
          <a
            href="#!"
            class="btn btn--primary btn--sm btn--icon"
            style="--bg-color: var(--color-blue-800);--border-color: var(--color-blue-800);">
            <i class="ti ti-brand-facebook"></i>
          </a>
          <a
            href="#!"
            class="btn btn--primary btn--sm btn--icon"
            style="--bg-color: var(--color-sky-500);--border-color: var(--color-sky-500);">
            <i class="ti ti-brand-telegram"></i>
          </a>
          <a href="#!" class="btn btn--sm btn--secondary">oliygoh.uz/lbk</a>
        </div>
      </div>
    </div>
  </div>
</div>
