---

---

<div class="quiz">
  <div class="quiz__head">
    <ol class="m-0">
      <li>
        Muhammadali asosiy imtihonga tayyorgarlik uchun kitob o‘qishni boshladi.
        U o‘qiyotgan ikki ketma-ket sahifalardagi sonlar yig‘indisi 177 ga teng.
        U qaysi betni o‘qiyotgan bo‘lishi mumkin?
      </li>
    </ol>
    <img
      src="https://static.oliygoh.uz/test/657c981561245808520ea64217026642130/image5.png?t=1702664250"
      alt=""
      width="135"
      height="124"
    />
  </div>
  <div class="quiz__body">
    <div class="quiz__variants">
      <slot />
    </div>
  </div>
</div>
