---

---

<div class="test-time">
  <div class="test-time__body">
    <div class="test-time__context">
      <div class="desc-block test-time__meta">
        <div class="text-medium">02:43:20</div>
        <div class="text-on-surface-variant">Qolgan vaqt</div>
      </div>
      <div class="desc-block test-time__meta">
        <div class="text-medium">14688</div>
        <div class="text-on-surface-variant">Ishtirokchilar</div>
      </div>
    </div>
    <a href="#!" class="btn btn--primary">Testni yakunlash</a>
  </div>
</div>
