---

---

<div class="study-card">
  <div class="study-card__body">
    <div class="study-card__title">
      <a
        href="#!"
        class="text-lg text-bold text-on-surface text-decoration-none">
        <slot />
      </a>
    </div>
    <div class="study-card__meta">
      <div class="icon-text study-card__meta-value">
        <span class="detail-bullet detail-bullet--primary"></span>
        <span class="text-on-surface-variant">16</span>
      </div>
      <div class="icon-text study-card__meta-value">
        <span class="detail-bullet detail-bullet--info"></span>
        <span class="text-on-surface-variant">480</span>
      </div>
      <div class="icon-text study-card__meta-value">
        <span class="detail-bullet detail-bullet--success"></span>
        <span class="text-on-surface-variant">333.9</span>
      </div>
    </div>
  </div>
  <a href="#!" class="btn btn--primary">Batafsil</a>
</div>
