---
import oliygohLogo from "../assets/img/oliygoh-logo.svg";
import Button from "./shared/button.astro";
import illustration from "../assets/img/exam-illustration.svg";
---

<body class="home-page">
  <header class="header">
    <div class="header-top">
      <div class="container">
        <div class="header-top__inner">
          <div class="row">
            <div class="col-4">
              <div class="header-top-brand">
                <img
                  class="header-top-brand__logo"
                  src={oliygohLogo.src}
                  alt=""
                />
                <div class="header-top-brand__slogan">
                  Aniq maqsad - g’alabaga yetaklaydi
                </div>
              </div>
            </div>
            <div class="col-8">
              <div class="header-top__login">
                <Button size="sm" style="primary">Login</Button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar">
      <div class="container">
        <div class="navbar__inner">
          <div class="row">
            <div class="col-8">
              <nav class="nav">
                <a href="#!" class="nav__link">Oliygohlar</a>
                <a href="#!" class="nav__link">Yangiliklar</a>
                <a href="#!" class="nav__link">DTM Testlar</a>
                <a href="#!" class="nav__link">PM Testlar</a>
                <a href="#!" class="nav__link">Ma’lumotlar</a>
                <a href="#!" class="nav__link">Imtihonlar</a>
                <a href="#!" class="nav__link">Grantlar</a>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <main class="home">
    <section class="test-day">
      <div class="container">
        <div class="test-day__block">
          <div class="row items-center">
            <div class="col-5">
              <div class="test-day__content">
                <div class="test-day__text">
                  <h1>
                    <div>DTM online test topshirish</div>
                    <div class="accent">2025</div>
                  </h1>
                </div>
                <Button style="secondary">Imtihonda qatnashish</Button>
              </div>
            </div>
            <div class="col-7">
              <img src={illustration.src} alt="" />
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="hero-one">
      <div class="container">
        <div class="hero-one__block">
          <div class="container">
            <div class="row">
              <div class="col-8">
                <div class="card">
                  <div class="card__image">
                    <img
                      src="https://static.oliygoh.uz/crop/1/7/346_190_80_1769172061.jpeg?t=1730466479"
                      alt=""
                    />
                  </div>
                  <div class="card__body">
                    <div class="card__meta">
                      <a class="meta">Abiturient</a>
                    </div>
                    <div class="card__content">
                      <h3>
                        <a href="#!"
                          >Talaba OTMdagi o‘qishini davom ettira olmasa,
                          to‘lagan kontrakt puli qaytarib olinadimi?</a
                        >
                      </h3>
                      <div>
                        Agar talaba oliy ta’lim muassasasida (OTM) o‘qishini
                        davom ettira olmasa, to‘langan kontrakt pulini qisman
                        qaytarib olish imkoniyati mavjud. O‘zbekiston
                        Respublikasi Fuqarolik kodeksining tegishli moddalari bu
                        holatni quyidagicha tushuntiradi
                      </div>
                      <div>Kecha, 15:14</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="news-list">
                  <div class="related related--v">
                    <a href="#!"
                      >Endi kvota OTMga taqsimlanmaydi. bu nima degani?</a
                    >
                    <span class="date">10-noyabr, 08:03</span>
                  </div>
                  <div class="related related--v">
                    <a href="#!"
                      >Nodavlat universitetlar diplom keyinchalik tan
                      olinmasligi mumkinmi?</a
                    >
                    <span class="date">10-noyabr, 08:03</span>
                  </div>
                  <div class="related related--v">
                    <a href="#!"
                      >Magistraturaga kimlar imtihonsiz qabul qilinadi?</a
                    >
                    <span class="date">10-noyabr, 08:03</span>
                  </div>
                  <div class="related related--v">
                    <a href="#!">O‘qishni ko‘chirish bo‘yicha o‘tish ballari</a>
                    <span class="date">10-noyabr, 08:03</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="hero-v2">
      <div class="container">
        <div class="hero-v2__block">
          <div class="card">
            <div class="card__image">
              <img
                src="https://static.oliygoh.uz/crop/2/6/346_190_80_2621659639.jpg?t=1730465159"
                alt=""
              />
            </div>
            <div class="card__body">
              <div class="card__meta">
                <a href="#!" class="meta">Abiturient</a>
              </div>
              <div class="card__content">
                <h3>
                  Talaba OTMdagi o‘qishini davom ettira olmasa, to‘lagan
                  kontrakt puli qaytarib olinadimi?
                </h3>
                <div>
                  Agar talaba oliy ta’lim muassasasida (OTM) o‘qishini davom
                  ettira olmasa, to‘langan kontrakt pulini qisman qaytarib olish
                  imkoniyati mavjud. O‘zbekiston Respublikasi Fuqarolik
                  kodeksining tegishli moddalari bu holatni quyidagicha
                  tushuntiradi
                </div>
                <div>Kecha, 15:14</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <section>
      <div class="container">
        <div class="row">
          <div class="col-7">
            <div class="">
              <h2 class="section-title">Ta’lim yangiliklari</h2>
              <div class="row">
                <div class="col-6">
                  <div class="card">
                    <div class="card__image">
                      <img
                        src="https://static.oliygoh.uz/crop/3/4/346_190_80_3451933706.jpg?t=1730454236"
                        alt=""
                      />
                    </div>
                    <div class="card__body">
                      <div class="card__meta">
                        <a href="#!" class="meta">Foydali</a>
                      </div>
                      <div class="card__content">
                        <h6>
                          <a href="#!"
                            >2025-yilda ta’lim sohasiga qancha mablag‘
                            ajratiladi?</a
                          >
                        </h6>
                        <div>Kecha, 15:14</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="card">
                    <div class="card__image">
                      <img
                        src="https://static.oliygoh.uz/crop/3/4/346_190_80_3451933706.jpg?t=1730454236"
                        alt=""
                      />
                    </div>
                    <div class="card__body">
                      <div class="card__meta">
                        <a href="#!" class="meta">Foydali</a>
                      </div>
                      <div class="card__content">
                        <h6>
                          <a href="#!"
                            >2025-yilda ta’lim sohasiga qancha mablag‘
                            ajratiladi?</a
                          >
                        </h6>
                        <div>Kecha, 15:14</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="card">
                    <div class="card__image">
                      <img
                        src="https://static.oliygoh.uz/crop/3/4/346_190_80_3451933706.jpg?t=1730454236"
                        alt=""
                      />
                    </div>
                    <div class="card__body">
                      <div class="card__meta">
                        <a href="#!" class="meta">Foydali</a>
                      </div>
                      <div class="card__content">
                        <h6>
                          <a href="#!"
                            >2025-yilda ta’lim sohasiga qancha mablag‘
                            ajratiladi?</a
                          >
                        </h6>
                        <div>Kecha, 15:14</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="card">
                    <div class="card__image">
                      <img
                        src="https://static.oliygoh.uz/crop/3/4/346_190_80_3451933706.jpg?t=1730454236"
                        alt=""
                      />
                    </div>
                    <div class="card__body">
                      <div class="card__meta">
                        <a href="#!" class="meta">Foydali</a>
                      </div>
                      <div class="card__content">
                        <h6>
                          <a href="#!"
                            >2025-yilda ta’lim sohasiga qancha mablag‘
                            ajratiladi?</a
                          >
                        </h6>
                        <div>Kecha, 15:14</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="card">
                    <div class="card__image">
                      <img
                        src="https://static.oliygoh.uz/crop/3/4/346_190_80_3451933706.jpg?t=1730454236"
                        alt=""
                      />
                    </div>
                    <div class="card__body">
                      <div class="card__meta">
                        <a href="#!" class="meta">Foydali</a>
                      </div>
                      <div class="card__content">
                        <h6>
                          <a href="#!"
                            >2025-yilda ta’lim sohasiga qancha mablag‘
                            ajratiladi?</a
                          >
                        </h6>
                        <div>Kecha, 15:14</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="card">
                    <div class="card__image">
                      <img
                        src="https://static.oliygoh.uz/crop/3/4/346_190_80_3451933706.jpg?t=1730454236"
                        alt=""
                      />
                    </div>
                    <div class="card__body">
                      <div class="card__meta">
                        <a href="#!" class="meta">Foydali</a>
                      </div>
                      <div class="card__content">
                        <h6>
                          <a href="#!"
                            >2025-yilda ta’lim sohasiga qancha mablag‘
                            ajratiladi?</a
                          >
                        </h6>
                        <div>Kecha, 15:14</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="card">
                    <div class="card__image">
                      <img
                        src="https://static.oliygoh.uz/crop/3/4/346_190_80_3451933706.jpg?t=1730454236"
                        alt=""
                      />
                    </div>
                    <div class="card__body">
                      <div class="card__meta">
                        <a href="#!" class="meta">Foydali</a>
                      </div>
                      <div class="card__content">
                        <h6>
                          <a href="#!"
                            >2025-yilda ta’lim sohasiga qancha mablag‘
                            ajratiladi?</a
                          >
                        </h6>
                        <div>Kecha, 15:14</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="card">
                    <div class="card__image">
                      <img
                        src="https://static.oliygoh.uz/crop/3/4/346_190_80_3451933706.jpg?t=1730454236"
                        alt=""
                      />
                    </div>
                    <div class="card__body">
                      <div class="card__meta">
                        <a href="#!" class="meta">Foydali</a>
                      </div>
                      <div class="card__content">
                        <h6>
                          <a href="#!"
                            >2025-yilda ta’lim sohasiga qancha mablag‘
                            ajratiladi?</a
                          >
                        </h6>
                        <div>Kecha, 15:14</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="card">
                    <div class="card__image">
                      <img
                        src="https://static.oliygoh.uz/crop/3/4/346_190_80_3451933706.jpg?t=1730454236"
                        alt=""
                      />
                    </div>
                    <div class="card__body">
                      <div class="card__meta">
                        <a href="#!" class="meta">Foydali</a>
                      </div>
                      <div class="card__content">
                        <h6>
                          <a href="#!"
                            >2025-yilda ta’lim sohasiga qancha mablag‘
                            ajratiladi?</a
                          >
                        </h6>
                        <div>Kecha, 15:14</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="card">
                    <div class="card__image">
                      <img
                        src="https://static.oliygoh.uz/crop/3/4/346_190_80_3451933706.jpg?t=1730454236"
                        alt=""
                      />
                    </div>
                    <div class="card__body">
                      <div class="card__meta">
                        <a href="#!" class="meta">Foydali</a>
                      </div>
                      <div class="card__content">
                        <h6>
                          <a href="#!"
                            >2025-yilda ta’lim sohasiga qancha mablag‘
                            ajratiladi?</a
                          >
                        </h6>
                        <div>Kecha, 15:14</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="more">
              <Button style="primary">Barcha yangiliklar</Button>
            </div>
          </div>
          <div class="col-5">
            <div class="aside">
              <h2 class="section-title">Ommabop</h2>
              <div class="pop-list">
                <div class="pop-list__item">
                  <div class="pop-card">
                    <div class="pop-card__body">
                      <h6>
                        <a href="#!"
                          >Endi kvota OTMga taqsimlanmaydi. bu nima degani?</a
                        >
                      </h6>
                      <div class="pop-card__meta">
                        14-mart 01:07
                        <div class="pop-card__seen">
                          <i class="ti ti-eye"></i>
                          564
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="pop-list__item">
                  <div class="pop-card">
                    <div class="pop-card__body">
                      <h6>
                        <a href="#!"
                          >Nodavlat universitetlar diplom keyinchalik tan
                          olinmasligi mumkinmi?</a
                        >
                      </h6>
                      <div class="pop-card__meta">
                        14-mart 01:07
                        <div class="pop-card__seen">
                          <i class="ti ti-eye"></i>
                          564
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="pop-list__item">
                  <div class="pop-card">
                    <div class="pop-card__body">
                      <h6>
                        <a href="#!"
                          >Magistraturaga kimlar imtihonsiz qabul qilinadi?</a
                        >
                      </h6>
                      <div class="pop-card__meta">
                        14-mart 01:07
                        <div class="pop-card__seen">
                          <i class="ti ti-eye"></i>
                          564
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="pop-list__item">
                  <div class="pop-card">
                    <div class="pop-card__body">
                      <h6>
                        <a href="#!"
                          >O‘qishni ko‘chirish bo‘yicha o‘tish ballari</a
                        >
                      </h6>
                      <div class="pop-card__meta">
                        14-mart 01:07
                        <div class="pop-card__seen">
                          <i class="ti ti-eye"></i>
                          564
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="pop-list__item">
                  <div class="pop-card">
                    <div class="pop-card__body">
                      <h6>
                        <a href="#!"
                          >Abituriyentlar va talabalar uchun 4 milliard so‘mlik
                          “Millat Umidi” granti eʼlon qilindi</a
                        >
                      </h6>
                      <div class="pop-card__meta">
                        14-mart 01:07
                        <div class="pop-card__seen">
                          <i class="ti ti-eye"></i>
                          564
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <footer class="footer">
    <div class="footer-main">
      <div class="container">
        <div class="footer-main__content">
          <div class="row">
            <div class="col-4">
              <div class="footer-nav">
                <img src={oliygohLogo.src} alt="" />
              </div>
            </div>
            <div class="col-4">
              <div class="footer-nav">
                <h4 class="footer-nav__title">Bo‘limlar</h4>
                <div class="chip-grid">
                  <a href="#!" class="chip">abituriyent</a>
                  <a href="#!" class="chip">reyting</a>
                  <a href="#!" class="chip">abituriyent2024</a>
                  <a href="#!" class="chip">qabul-2024</a>
                  <a href="#!" class="chip">maqsadli qabul</a>
                  <a href="#!" class="chip">Xalqaro grantlar</a>
                  <a href="#!" class="chip">magistratura</a>
                  <a href="#!" class="chip">talaba</a>
                  <a href="#!" class="chip">Qabul-2023</a>
                  <a href="#!" class="chip">Xalqaro grant</a>
                  <a href="#!" class="chip">maktab</a>
                  <a href="#!" class="chip"
                    >oliy ta'lim fan va innovatsiyalar vazirligi</a
                  >
                </div>
              </div>
            </div>
            <div class="col-2">
              <div class="footer-nav">
                <h4 class="footer-nav__title">Bo‘limlar</h4>
                <nav class="link-list">
                  <a href="#!" class="link">Grantlar</a>
                  <a href="#!" class="link">Oliygohlar</a>
                  <a href="#!" class="link">Yangiliklar</a>
                  <a href="#!" class="link">DTM Testlar</a>
                  <a href="#!" class="link">PM Testlar</a>
                  <a href="#!" class="link">Ma’lumotlar</a>
                  <a href="#!" class="link">Imtihonlar</a>
                  <a href="#!" class="link">Grantlar</a>
                </nav>
              </div>
            </div>
            <div class="col-2">
              <div class="footer-nav">
                <h4 class="footer-nav__title">Bo‘limlar</h4>
                <nav class="link-list">
                  <a href="#!" class="link">Telegram</a>
                  <a href="#!" class="link">Instagram</a>
                  <a href="#!" class="link">Facebook</a>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="footer-bottom__content">
          <div class="row">
            <div class="col-6">
              2024 © Oliygoh.uz, Barcha huquqlar himoyalangan
            </div>
            <div class="col-6 text-end">
              <a href="#!" class="link">Foydalanish shartlari</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</body>
