---

---

<footer class="footer">
  <div class="footer-main">
    <div class="container">
      <div class="footer-main__content">
        <div class="row">
          <div class="col-md-4">
            <div class="brand-logo">Logo</div>
          </div>
          <div class="col-md-4">
            <div class="footer-nav">
              <div class="text-sm text-on-surface-variant">Bo'limlar</div>
              <div class="d-flex flex-wrap gap-sm">
                <a href="#!" class="chip">abituriyent</a>
                <a href="#!" class="chip">reyting</a>
                <a href="#!" class="chip">abituriyent2024</a>
                <a href="#!" class="chip">qabul-2024</a>
                <a href="#!" class="chip">maqsadli qabul</a>
                <a href="#!" class="chip">magistratura</a>
                <a href="#!" class="chip">talaba</a>
                <a href="#!" class="chip">Qabul-2023</a>
                <a href="#!" class="chip">Xalqaro grant</a>
                <a href="#!" class="chip">maktab</a>
                <a href="#!" class="chip"
                  >oliy ta'lim fan va innovatsiyalar vazirligi</a
                >
              </div>
            </div>
          </div>
          <div class="col-md-2 col-6">
            <div class="footer-nav">
              <div class="text-sm text-on-surface-variant">Bo'limlar</div>
              <ul class="link-list">
                <li class="link-list__item">
                  <a href="#!" class="link">Grantlar</a>
                </li>
                <li class="link-list__item">
                  <a href="#!" class="link">Oliygohlar</a>
                </li>
                <li class="link-list__item">
                  <a href="#!" class="link">Yangiliklar</a>
                </li>
                <li class="link-list__item">
                  <a href="#!" class="link">DTM Testlar</a>
                </li>
                <li class="link-list__item">
                  <a href="#!" class="link">PM Testlar</a>
                </li>
                <li class="link-list__item">
                  <a href="#!" class="link">Ma’lumotlar</a>
                </li>
                <li class="link-list__item">
                  <a href="#!" class="link">Imtihonlar</a>
                </li>
                <li class="link-list__item">
                  <a href="#!" class="link">Grantlar</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-2 col-6">
            <div class="footer-nav">
              <div class="text-sm text-on-surface-variant">
                Ijtimoiy tarmoqlar
              </div>
              <ul class="link-list">
                <li class="link-list__item">
                  <a href="#!" class="link">Telegram</a>
                </li>
                <li class="link-list__item">
                  <a href="#!" class="link">Oliygohlar</a>
                </li>
                <li class="link-list__item">
                  <a href="#!" class="link">Facebook</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="footer-bottom__content">
        <div class="row">
          <div class="col-md-6">
            2024 © Oliygoh.uz, Barcha huquqlar himoyalangan
          </div>
          <div class="col-md-6 text-md-end">
            <a href="#!" class="text-on-surface text-decoration-none"
              >Foydalanish shartlari</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
